<p class="blue-grey-text text-darken-4"><%=t 'Past Worries' %></p>

<div class="collection">
  <% @worries.each do |worry| %>
  <%= link_to worry.detail, worry, class: 'collection-item' %>
  <% end %>
</div>
