<p id="notice"><%= notice %></p>

<h1><%= @worry.detail %></h1>

<ul>
<% @sorted_advices[nil].each do |advice| %>
<%= render 'advice', advice: advice %>
<% end %>
</ul>

<%= link_to 'Back', worries_path %>
